.mainSearch{
    height:100vh;
    padding:16px;
    text-align: center;
    h1{
        margin:222px 0 62px 0;
        font-size:72px;
        color: #1BC3FB;
    }
    input{
        width:570px;
        height:46px;
        font:16px/40px '';  
        color:#333;
        background-color:#F4F4F4;
        padding:0 0 0 46px;
        box-shadow: none;
        border-radius: 22px;
        border:1px solid transparent;
        &:hover{
            border:1px solid #1BC3FB;
            box-shadow: #1Bc3FB 0px 0px 5px;
            &+i{
                color:#1BC3FB;  
            }
        }
    }
    i{ 
        width:46px;
        height:100%;
        top:0;
        display:block;
        position:absolute;
        height:46px;
        font:18px/46px '';
        text-align: center;
    }
}