.contentBox{
    position: relative;
    padding:16px;
    display:flex;
    justify-content: center;
    .article{
        padding-right:16px;
    }
    .aside{
        margin-top:16px;    
        box-sizing: border-box; 
    }
}